# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
.vscode/

.devops/id_rsa
.devops/config-maps
.devops/ssl
.devops/nginx-proxy
id_rsa
helm/api/Chart.lock
/helm/api/charts
.DS_Store
api/helm/api/.DS_Store
